environment/.c9/metadata/environment/microservices/backend/sam-app/template.yaml
{"filter":false,"title":"template.yaml","tooltip":"/microservices/backend/sam-app/template.yaml","undoManager":{"mark":39,"position":39,"stack":[[{"start":{"row":215,"column":10},"end":{"row":215,"column":59},"action":"remove","lines":["https://UNIQUE-ID.vfs.cloud9.REGION.amazonaws.com"],"id":2},{"start":{"row":215,"column":10},"end":{"row":215,"column":86},"action":"insert","lines":["https://2f43f167e9944e5e9ada5580324b351f.vfs.cloud9.us-west-2.amazonaws.com/"]}],[{"start":{"row":215,"column":85},"end":{"row":215,"column":86},"action":"remove","lines":["/"],"id":3}],[{"start":{"row":217,"column":10},"end":{"row":217,"column":59},"action":"remove","lines":["https://UNIQUE-ID.vfs.cloud9.REGION.amazonaws.com"],"id":4},{"start":{"row":217,"column":10},"end":{"row":217,"column":86},"action":"insert","lines":["https://2f43f167e9944e5e9ada5580324b351f.vfs.cloud9.us-west-2.amazonaws.com/"]}],[{"start":{"row":217,"column":85},"end":{"row":217,"column":86},"action":"remove","lines":["/"],"id":5}],[{"start":{"row":15,"column":10},"end":{"row":16,"column":0},"action":"insert","lines":["",""],"id":6}],[{"start":{"row":16,"column":0},"end":{"row":27,"column":0},"action":"insert","lines":["SNSTopic:","  Type: AWS::SNS::Topic","  Properties:","    TopicName: EmailReport","","SNSSubscription:","  Type: AWS::SNS::Subscription","  Properties:","    TopicArn: !Ref SNSTopic","    Protocol: email","    Endpoint: jane@example.com # REPLACE WITH VALID EMAIL",""],"id":7}],[{"start":{"row":26,"column":14},"end":{"row":26,"column":30},"action":"remove","lines":["jane@example.com"],"id":8},{"start":{"row":26,"column":14},"end":{"row":26,"column":15},"action":"insert","lines":["m"]},{"start":{"row":26,"column":15},"end":{"row":26,"column":16},"action":"insert","lines":["e"]},{"start":{"row":26,"column":16},"end":{"row":26,"column":17},"action":"insert","lines":["t"]},{"start":{"row":26,"column":17},"end":{"row":26,"column":18},"action":"insert","lines":["o"]},{"start":{"row":26,"column":18},"end":{"row":26,"column":19},"action":"insert","lines":["n"]},{"start":{"row":26,"column":19},"end":{"row":26,"column":20},"action":"insert","lines":["y"]},{"start":{"row":26,"column":20},"end":{"row":26,"column":21},"action":"insert","lines":["1"]}],[{"start":{"row":26,"column":21},"end":{"row":26,"column":22},"action":"insert","lines":["5"],"id":9},{"start":{"row":26,"column":22},"end":{"row":26,"column":23},"action":"insert","lines":["7"]}],[{"start":{"row":26,"column":23},"end":{"row":26,"column":24},"action":"insert","lines":["@"],"id":10},{"start":{"row":26,"column":24},"end":{"row":26,"column":25},"action":"insert","lines":["g"]},{"start":{"row":26,"column":25},"end":{"row":26,"column":26},"action":"insert","lines":["a"]},{"start":{"row":26,"column":26},"end":{"row":26,"column":27},"action":"insert","lines":["m"]},{"start":{"row":26,"column":27},"end":{"row":26,"column":28},"action":"insert","lines":["i"]}],[{"start":{"row":26,"column":28},"end":{"row":26,"column":29},"action":"insert","lines":["l"],"id":11},{"start":{"row":26,"column":29},"end":{"row":26,"column":30},"action":"insert","lines":["."]},{"start":{"row":26,"column":30},"end":{"row":26,"column":31},"action":"insert","lines":["c"]},{"start":{"row":26,"column":31},"end":{"row":26,"column":32},"action":"insert","lines":["o"]},{"start":{"row":26,"column":32},"end":{"row":26,"column":33},"action":"insert","lines":["m"]}],[{"start":{"row":16,"column":0},"end":{"row":16,"column":2},"action":"insert","lines":["  "],"id":12},{"start":{"row":17,"column":0},"end":{"row":17,"column":2},"action":"insert","lines":["  "]},{"start":{"row":18,"column":0},"end":{"row":18,"column":2},"action":"insert","lines":["  "]},{"start":{"row":19,"column":0},"end":{"row":19,"column":2},"action":"insert","lines":["  "]},{"start":{"row":20,"column":0},"end":{"row":20,"column":2},"action":"insert","lines":["  "]},{"start":{"row":21,"column":0},"end":{"row":21,"column":2},"action":"insert","lines":["  "]},{"start":{"row":22,"column":0},"end":{"row":22,"column":2},"action":"insert","lines":["  "]},{"start":{"row":23,"column":0},"end":{"row":23,"column":2},"action":"insert","lines":["  "]},{"start":{"row":24,"column":0},"end":{"row":24,"column":2},"action":"insert","lines":["  "]},{"start":{"row":25,"column":0},"end":{"row":25,"column":2},"action":"insert","lines":["  "]},{"start":{"row":26,"column":0},"end":{"row":26,"column":2},"action":"insert","lines":["  "]}],[{"start":{"row":26,"column":30},"end":{"row":26,"column":31},"action":"remove","lines":["l"],"id":13},{"start":{"row":26,"column":29},"end":{"row":26,"column":30},"action":"remove","lines":["i"]},{"start":{"row":26,"column":28},"end":{"row":26,"column":29},"action":"remove","lines":["m"]},{"start":{"row":26,"column":27},"end":{"row":26,"column":28},"action":"remove","lines":["a"]}],[{"start":{"row":26,"column":27},"end":{"row":26,"column":28},"action":"insert","lines":["m"],"id":14},{"start":{"row":26,"column":28},"end":{"row":26,"column":29},"action":"insert","lines":["a"]},{"start":{"row":26,"column":29},"end":{"row":26,"column":30},"action":"insert","lines":["i"]},{"start":{"row":26,"column":30},"end":{"row":26,"column":31},"action":"insert","lines":["l"]}],[{"start":{"row":15,"column":10},"end":{"row":16,"column":0},"action":"insert","lines":["",""],"id":15}],[{"start":{"row":16,"column":0},"end":{"row":16,"column":2},"action":"insert","lines":["  "],"id":16}],[{"start":{"row":16,"column":2},"end":{"row":31,"column":0},"action":"insert","lines":["StateMachine:","  Type: AWS::Serverless::StateMachine","  Properties:","    Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'","    Definition:","      Comment: Email Report Generation State Machine","      StartAt: TriggerSNS","      States:","        TriggerSNS:","          Type: Task","          Resource: arn:aws:states:::sns:publish","          Parameters:","            TopicArn: !Ref SNSTopic","            Message.$: \"$.presigned_url_str\"","          End: true",""],"id":17}],[{"start":{"row":255,"column":8},"end":{"row":256,"column":0},"action":"insert","lines":["",""],"id":18}],[{"start":{"row":256,"column":0},"end":{"row":256,"column":2},"action":"insert","lines":["  "],"id":19}],[{"start":{"row":256,"column":2},"end":{"row":259,"column":0},"action":"insert","lines":["StateMachineArn:","  Description: \"Step Functions state machine arn for email report\"","  Value: !Ref StateMachine",""],"id":20}],[{"start":{"row":257,"column":0},"end":{"row":257,"column":2},"action":"insert","lines":["  "],"id":21},{"start":{"row":258,"column":0},"end":{"row":258,"column":2},"action":"insert","lines":["  "]}],[{"start":{"row":17,"column":0},"end":{"row":17,"column":2},"action":"insert","lines":["  "],"id":22},{"start":{"row":18,"column":0},"end":{"row":18,"column":2},"action":"insert","lines":["  "]},{"start":{"row":19,"column":0},"end":{"row":19,"column":2},"action":"insert","lines":["  "]},{"start":{"row":20,"column":0},"end":{"row":20,"column":2},"action":"insert","lines":["  "]},{"start":{"row":21,"column":0},"end":{"row":21,"column":2},"action":"insert","lines":["  "]},{"start":{"row":22,"column":0},"end":{"row":22,"column":2},"action":"insert","lines":["  "]},{"start":{"row":23,"column":0},"end":{"row":23,"column":2},"action":"insert","lines":["  "]},{"start":{"row":24,"column":0},"end":{"row":24,"column":2},"action":"insert","lines":["  "]},{"start":{"row":25,"column":0},"end":{"row":25,"column":2},"action":"insert","lines":["  "]},{"start":{"row":26,"column":0},"end":{"row":26,"column":2},"action":"insert","lines":["  "]},{"start":{"row":27,"column":0},"end":{"row":27,"column":2},"action":"insert","lines":["  "]},{"start":{"row":28,"column":0},"end":{"row":28,"column":2},"action":"insert","lines":["  "]},{"start":{"row":29,"column":0},"end":{"row":29,"column":2},"action":"insert","lines":["  "]},{"start":{"row":30,"column":0},"end":{"row":30,"column":2},"action":"insert","lines":["  "]}],[{"start":{"row":15,"column":10},"end":{"row":16,"column":0},"action":"insert","lines":["",""],"id":23}],[{"start":{"row":16,"column":0},"end":{"row":16,"column":2},"action":"insert","lines":["  "],"id":24}],[{"start":{"row":16,"column":2},"end":{"row":32,"column":0},"action":"insert","lines":["CreateReportFunction:","  Type: AWS::Serverless::Function","  Properties:","    CodeUri: handlers/create_report","    Handler: create_report.lambda_handler","    Runtime: python3.10","    Architectures:","      - x86_64","    Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'","    Events:","      CreateReport:","        Type: Api","        Properties:","          RestApiId: !Ref BikeAPI","          Path: /create-report","          Method: post",""],"id":25}],[{"start":{"row":17,"column":0},"end":{"row":17,"column":2},"action":"insert","lines":["  "],"id":26},{"start":{"row":18,"column":0},"end":{"row":18,"column":2},"action":"insert","lines":["  "]},{"start":{"row":19,"column":0},"end":{"row":19,"column":2},"action":"insert","lines":["  "]},{"start":{"row":20,"column":0},"end":{"row":20,"column":2},"action":"insert","lines":["  "]},{"start":{"row":21,"column":0},"end":{"row":21,"column":2},"action":"insert","lines":["  "]},{"start":{"row":22,"column":0},"end":{"row":22,"column":2},"action":"insert","lines":["  "]},{"start":{"row":23,"column":0},"end":{"row":23,"column":2},"action":"insert","lines":["  "]},{"start":{"row":24,"column":0},"end":{"row":24,"column":2},"action":"insert","lines":["  "]},{"start":{"row":25,"column":0},"end":{"row":25,"column":2},"action":"insert","lines":["  "]},{"start":{"row":26,"column":0},"end":{"row":26,"column":2},"action":"insert","lines":["  "]},{"start":{"row":27,"column":0},"end":{"row":27,"column":2},"action":"insert","lines":["  "]},{"start":{"row":28,"column":0},"end":{"row":28,"column":2},"action":"insert","lines":["  "]},{"start":{"row":29,"column":0},"end":{"row":29,"column":2},"action":"insert","lines":["  "]},{"start":{"row":30,"column":0},"end":{"row":30,"column":2},"action":"insert","lines":["  "]},{"start":{"row":31,"column":0},"end":{"row":31,"column":2},"action":"insert","lines":["  "]}],[{"start":{"row":272,"column":8},"end":{"row":273,"column":0},"action":"insert","lines":["",""],"id":27}],[{"start":{"row":273,"column":0},"end":{"row":273,"column":2},"action":"insert","lines":["  "],"id":28}],[{"start":{"row":273,"column":2},"end":{"row":276,"column":0},"action":"insert","lines":["EndpointForCreateReport:","  Description: \"API Gateway endpoint URL for Prod stage for Create Report\"","  Value: !Sub \"https://${BikeAPI}.execute-api.${AWS::Region}.amazonaws.com/Prod/create-report\"",""],"id":29}],[{"start":{"row":274,"column":0},"end":{"row":274,"column":2},"action":"insert","lines":["  "],"id":30},{"start":{"row":275,"column":0},"end":{"row":275,"column":2},"action":"insert","lines":["  "]}],[{"start":{"row":15,"column":10},"end":{"row":16,"column":0},"action":"insert","lines":["",""],"id":31}],[{"start":{"row":16,"column":0},"end":{"row":16,"column":2},"action":"insert","lines":["  "],"id":32}],[{"start":{"row":16,"column":2},"end":{"row":25,"column":0},"action":"insert","lines":["GeneratePresignedURLFunction:","  Type: AWS::Serverless::Function","  Properties:","    CodeUri: handlers/generate_presigned_url","    Handler: generate_presigned_url.lambda_handler","    Runtime: python3.10","    Architectures:","      - x86_64","    Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'",""],"id":33}],[{"start":{"row":17,"column":0},"end":{"row":17,"column":2},"action":"insert","lines":["  "],"id":34},{"start":{"row":18,"column":0},"end":{"row":18,"column":2},"action":"insert","lines":["  "]},{"start":{"row":19,"column":0},"end":{"row":19,"column":2},"action":"insert","lines":["  "]},{"start":{"row":20,"column":0},"end":{"row":20,"column":2},"action":"insert","lines":["  "]},{"start":{"row":21,"column":0},"end":{"row":21,"column":2},"action":"insert","lines":["  "]},{"start":{"row":22,"column":0},"end":{"row":22,"column":2},"action":"insert","lines":["  "]},{"start":{"row":23,"column":0},"end":{"row":23,"column":2},"action":"insert","lines":["  "]},{"start":{"row":24,"column":0},"end":{"row":24,"column":2},"action":"insert","lines":["  "]}],[{"start":{"row":43,"column":2},"end":{"row":57,"column":21},"action":"remove","lines":["StateMachine:","    Type: AWS::Serverless::StateMachine","    Properties:","      Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'","      Definition:","        Comment: Email Report Generation State Machine","        StartAt: TriggerSNS","        States:","          TriggerSNS:","            Type: Task","            Resource: arn:aws:states:::sns:publish","            Parameters:","              TopicArn: !Ref SNSTopic","              Message.$: \"$.presigned_url_str\"","            End: true"],"id":35},{"start":{"row":43,"column":2},"end":{"row":64,"column":0},"action":"insert","lines":["StateMachine:","  Type: AWS::Serverless::StateMachine","  Properties:","    Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'","    DefinitionSubstitutions:","      GeneratePresignedURLArn: !GetAtt GeneratePresignedURLFunction.Arn #NEWLY ADDED","    Definition:","      Comment: Email Report Generation State Machine","      StartAt: GeneratePresignedURL #NEWLY ADDED","      States:","        GeneratePresignedURL: #NEWLY ADDED","          Type: Task #NEWLY ADDED","          Resource: \"${GeneratePresignedURLArn}\" #NEWLY ADDED","          Next: TriggerSNS #NEWLY ADDED","        TriggerSNS:","          Type: Task","          Resource: arn:aws:states:::sns:publish","          Parameters:","            TopicArn: !Ref SNSTopic","            Message.$: \"$.presigned_url_str\"","          End: true",""]}],[{"start":{"row":44,"column":0},"end":{"row":44,"column":2},"action":"insert","lines":["  "],"id":36},{"start":{"row":45,"column":0},"end":{"row":45,"column":2},"action":"insert","lines":["  "]},{"start":{"row":46,"column":0},"end":{"row":46,"column":2},"action":"insert","lines":["  "]},{"start":{"row":47,"column":0},"end":{"row":47,"column":2},"action":"insert","lines":["  "]},{"start":{"row":48,"column":0},"end":{"row":48,"column":2},"action":"insert","lines":["  "]},{"start":{"row":49,"column":0},"end":{"row":49,"column":2},"action":"insert","lines":["  "]},{"start":{"row":50,"column":0},"end":{"row":50,"column":2},"action":"insert","lines":["  "]},{"start":{"row":51,"column":0},"end":{"row":51,"column":2},"action":"insert","lines":["  "]},{"start":{"row":52,"column":0},"end":{"row":52,"column":2},"action":"insert","lines":["  "]},{"start":{"row":53,"column":0},"end":{"row":53,"column":2},"action":"insert","lines":["  "]},{"start":{"row":54,"column":0},"end":{"row":54,"column":2},"action":"insert","lines":["  "]},{"start":{"row":55,"column":0},"end":{"row":55,"column":2},"action":"insert","lines":["  "]},{"start":{"row":56,"column":0},"end":{"row":56,"column":2},"action":"insert","lines":["  "]},{"start":{"row":57,"column":0},"end":{"row":57,"column":2},"action":"insert","lines":["  "]},{"start":{"row":58,"column":0},"end":{"row":58,"column":2},"action":"insert","lines":["  "]},{"start":{"row":59,"column":0},"end":{"row":59,"column":2},"action":"insert","lines":["  "]},{"start":{"row":60,"column":0},"end":{"row":60,"column":2},"action":"insert","lines":["  "]},{"start":{"row":61,"column":0},"end":{"row":61,"column":2},"action":"insert","lines":["  "]},{"start":{"row":62,"column":0},"end":{"row":62,"column":2},"action":"insert","lines":["  "]},{"start":{"row":63,"column":0},"end":{"row":63,"column":2},"action":"insert","lines":["  "]}],[{"start":{"row":43,"column":2},"end":{"row":63,"column":21},"action":"remove","lines":["StateMachine:","    Type: AWS::Serverless::StateMachine","    Properties:","      Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'","      DefinitionSubstitutions:","        GeneratePresignedURLArn: !GetAtt GeneratePresignedURLFunction.Arn #NEWLY ADDED","      Definition:","        Comment: Email Report Generation State Machine","        StartAt: GeneratePresignedURL #NEWLY ADDED","        States:","          GeneratePresignedURL: #NEWLY ADDED","            Type: Task #NEWLY ADDED","            Resource: \"${GeneratePresignedURLArn}\" #NEWLY ADDED","            Next: TriggerSNS #NEWLY ADDED","          TriggerSNS:","            Type: Task","            Resource: arn:aws:states:::sns:publish","            Parameters:","              TopicArn: !Ref SNSTopic","              Message.$: \"$.presigned_url_str\"","            End: true"],"id":37},{"start":{"row":43,"column":2},"end":{"row":83,"column":0},"action":"insert","lines":["StateMachine:","  Type: AWS::Serverless::StateMachine","  Properties:","    Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'","    DefinitionSubstitutions:","      GenerateHTMLArn: !GetAtt GenerateHTMLFunction.Arn #NEWLY ADDED","      GeneratePresignedURLArn: !GetAtt GeneratePresignedURLFunction.Arn","      GenerateReportDataArn: !GetAtt GenerateReportDataFunction.Arn #NEWLY ADDED","      SNSTopicArn: !Ref SNSTopic","    Definition:","      Comment: Report Generation State Machine","      StartAt: GenerateReportData #NEWLY ADDED","      States:","        GenerateReportData: #NEWLY ADDED","          Type: Task #NEWLY ADDED","          Resource: \"${GenerateReportDataArn}\" #NEWLY ADDED","          Next: Parallel #NEWLY ADDED","        Parallel: #NEWLY ADDED","          Type: Parallel #NEWLY ADDED","          Branches: #NEWLY ADDED","            - StartAt: GenerateHTML #NEWLY ADDED","              States: #NEWLY ADDED","                GenerateHTML: #NEWLY ADDED","                  Type: Task #NEWLY ADDED","                  Resource: \"${GenerateHTMLArn}\" #NEWLY ADDED","                  End: true #NEWLY ADDED","            - StartAt: GeneratePresignedURL #NEWLY ADDED","              States: #NEWLY ADDED","                GeneratePresignedURL: #NEWLY ADDED","                  Type: Task #NEWLY ADDED","                  Resource: \"${GeneratePresignedURLArn}\"","                  End: true #NEWLY ADDED","          Next: TriggerSNS","        TriggerSNS:","          Type: Task","          Resource: arn:aws:states:::sns:publish","          Parameters:","            TopicArn: \"${SNSTopicArn}\"","            Message.$: \"$\"","          End: true",""]}],[{"start":{"row":44,"column":0},"end":{"row":44,"column":2},"action":"insert","lines":["  "],"id":38},{"start":{"row":45,"column":0},"end":{"row":45,"column":2},"action":"insert","lines":["  "]},{"start":{"row":46,"column":0},"end":{"row":46,"column":2},"action":"insert","lines":["  "]},{"start":{"row":47,"column":0},"end":{"row":47,"column":2},"action":"insert","lines":["  "]},{"start":{"row":48,"column":0},"end":{"row":48,"column":2},"action":"insert","lines":["  "]},{"start":{"row":49,"column":0},"end":{"row":49,"column":2},"action":"insert","lines":["  "]},{"start":{"row":50,"column":0},"end":{"row":50,"column":2},"action":"insert","lines":["  "]},{"start":{"row":51,"column":0},"end":{"row":51,"column":2},"action":"insert","lines":["  "]},{"start":{"row":52,"column":0},"end":{"row":52,"column":2},"action":"insert","lines":["  "]},{"start":{"row":53,"column":0},"end":{"row":53,"column":2},"action":"insert","lines":["  "]},{"start":{"row":54,"column":0},"end":{"row":54,"column":2},"action":"insert","lines":["  "]},{"start":{"row":55,"column":0},"end":{"row":55,"column":2},"action":"insert","lines":["  "]},{"start":{"row":56,"column":0},"end":{"row":56,"column":2},"action":"insert","lines":["  "]},{"start":{"row":57,"column":0},"end":{"row":57,"column":2},"action":"insert","lines":["  "]},{"start":{"row":58,"column":0},"end":{"row":58,"column":2},"action":"insert","lines":["  "]},{"start":{"row":59,"column":0},"end":{"row":59,"column":2},"action":"insert","lines":["  "]},{"start":{"row":60,"column":0},"end":{"row":60,"column":2},"action":"insert","lines":["  "]},{"start":{"row":61,"column":0},"end":{"row":61,"column":2},"action":"insert","lines":["  "]},{"start":{"row":62,"column":0},"end":{"row":62,"column":2},"action":"insert","lines":["  "]},{"start":{"row":63,"column":0},"end":{"row":63,"column":2},"action":"insert","lines":["  "]},{"start":{"row":64,"column":0},"end":{"row":64,"column":2},"action":"insert","lines":["  "]},{"start":{"row":65,"column":0},"end":{"row":65,"column":2},"action":"insert","lines":["  "]},{"start":{"row":66,"column":0},"end":{"row":66,"column":2},"action":"insert","lines":["  "]},{"start":{"row":67,"column":0},"end":{"row":67,"column":2},"action":"insert","lines":["  "]},{"start":{"row":68,"column":0},"end":{"row":68,"column":2},"action":"insert","lines":["  "]},{"start":{"row":69,"column":0},"end":{"row":69,"column":2},"action":"insert","lines":["  "]},{"start":{"row":70,"column":0},"end":{"row":70,"column":2},"action":"insert","lines":["  "]},{"start":{"row":71,"column":0},"end":{"row":71,"column":2},"action":"insert","lines":["  "]},{"start":{"row":72,"column":0},"end":{"row":72,"column":2},"action":"insert","lines":["  "]},{"start":{"row":73,"column":0},"end":{"row":73,"column":2},"action":"insert","lines":["  "]},{"start":{"row":74,"column":0},"end":{"row":74,"column":2},"action":"insert","lines":["  "]},{"start":{"row":75,"column":0},"end":{"row":75,"column":2},"action":"insert","lines":["  "]},{"start":{"row":76,"column":0},"end":{"row":76,"column":2},"action":"insert","lines":["  "]},{"start":{"row":77,"column":0},"end":{"row":77,"column":2},"action":"insert","lines":["  "]},{"start":{"row":78,"column":0},"end":{"row":78,"column":2},"action":"insert","lines":["  "]},{"start":{"row":79,"column":0},"end":{"row":79,"column":2},"action":"insert","lines":["  "]},{"start":{"row":80,"column":0},"end":{"row":80,"column":2},"action":"insert","lines":["  "]},{"start":{"row":81,"column":0},"end":{"row":81,"column":2},"action":"insert","lines":["  "]},{"start":{"row":82,"column":0},"end":{"row":82,"column":2},"action":"insert","lines":["  "]}],[{"start":{"row":26,"column":1},"end":{"row":41,"column":24},"action":"remove","lines":[" CreateReportFunction:","    Type: AWS::Serverless::Function","    Properties:","      CodeUri: handlers/create_report","      Handler: create_report.lambda_handler","      Runtime: python3.10","      Architectures:","        - x86_64","      Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'","      Events:","        CreateReport:","          Type: Api","          Properties:","            RestApiId: !Ref BikeAPI","            Path: /create-report","            Method: post"],"id":43},{"start":{"row":26,"column":1},"end":{"row":44,"column":0},"action":"insert","lines":["CreateReportFunction:","  Type: AWS::Serverless::Function","  Properties:","    CodeUri: handlers/create_report","    Handler: create_report.lambda_handler","    Runtime: python3.10","    Architectures:","      - x86_64","    Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'","    Events:","      CreateReport:","        Type: Api","        Properties:","          RestApiId: !Ref BikeAPI","          Path: /create-report","          Method: post","          Auth: #NEWLY ADDED","            Authorizer: CognitoAuthorizer #NEWLY ADDED",""]}],[{"start":{"row":27,"column":0},"end":{"row":27,"column":2},"action":"insert","lines":["  "],"id":44},{"start":{"row":28,"column":0},"end":{"row":28,"column":2},"action":"insert","lines":["  "]},{"start":{"row":29,"column":0},"end":{"row":29,"column":2},"action":"insert","lines":["  "]},{"start":{"row":30,"column":0},"end":{"row":30,"column":2},"action":"insert","lines":["  "]},{"start":{"row":31,"column":0},"end":{"row":31,"column":2},"action":"insert","lines":["  "]},{"start":{"row":32,"column":0},"end":{"row":32,"column":2},"action":"insert","lines":["  "]},{"start":{"row":33,"column":0},"end":{"row":33,"column":2},"action":"insert","lines":["  "]},{"start":{"row":34,"column":0},"end":{"row":34,"column":2},"action":"insert","lines":["  "]},{"start":{"row":35,"column":0},"end":{"row":35,"column":2},"action":"insert","lines":["  "]},{"start":{"row":36,"column":0},"end":{"row":36,"column":2},"action":"insert","lines":["  "]},{"start":{"row":37,"column":0},"end":{"row":37,"column":2},"action":"insert","lines":["  "]},{"start":{"row":38,"column":0},"end":{"row":38,"column":2},"action":"insert","lines":["  "]},{"start":{"row":39,"column":0},"end":{"row":39,"column":2},"action":"insert","lines":["  "]},{"start":{"row":40,"column":0},"end":{"row":40,"column":2},"action":"insert","lines":["  "]},{"start":{"row":41,"column":0},"end":{"row":41,"column":2},"action":"insert","lines":["  "]},{"start":{"row":42,"column":0},"end":{"row":42,"column":2},"action":"insert","lines":["  "]},{"start":{"row":43,"column":0},"end":{"row":43,"column":2},"action":"insert","lines":["  "]}],[{"start":{"row":15,"column":0},"end":{"row":87,"column":0},"action":"remove","lines":["Resources:","  GeneratePresignedURLFunction:","    Type: AWS::Serverless::Function","    Properties:","      CodeUri: handlers/generate_presigned_url","      Handler: generate_presigned_url.lambda_handler","      Runtime: python3.10","      Architectures:","        - x86_64","      Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'",""," CreateReportFunction:","    Type: AWS::Serverless::Function","    Properties:","      CodeUri: handlers/create_report","      Handler: create_report.lambda_handler","      Runtime: python3.10","      Architectures:","        - x86_64","      Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'","      Events:","        CreateReport:","          Type: Api","          Properties:","            RestApiId: !Ref BikeAPI","            Path: /create-report","            Method: post","            Auth: #NEWLY ADDED","              Authorizer: CognitoAuthorizer #NEWLY ADDED","","","  StateMachine:","    Type: AWS::Serverless::StateMachine","    Properties:","      Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'","      DefinitionSubstitutions:","        GenerateHTMLArn: !GetAtt GenerateHTMLFunction.Arn #NEWLY ADDED","        GeneratePresignedURLArn: !GetAtt GeneratePresignedURLFunction.Arn","        GenerateReportDataArn: !GetAtt GenerateReportDataFunction.Arn #NEWLY ADDED","        SNSTopicArn: !Ref SNSTopic","      Definition:","        Comment: Report Generation State Machine","        StartAt: GenerateReportData #NEWLY ADDED","        States:","          GenerateReportData: #NEWLY ADDED","            Type: Task #NEWLY ADDED","            Resource: \"${GenerateReportDataArn}\" #NEWLY ADDED","            Next: Parallel #NEWLY ADDED","          Parallel: #NEWLY ADDED","            Type: Parallel #NEWLY ADDED","            Branches: #NEWLY ADDED","              - StartAt: GenerateHTML #NEWLY ADDED","                States: #NEWLY ADDED","                  GenerateHTML: #NEWLY ADDED","                    Type: Task #NEWLY ADDED","                    Resource: \"${GenerateHTMLArn}\" #NEWLY ADDED","                    End: true #NEWLY ADDED","              - StartAt: GeneratePresignedURL #NEWLY ADDED","                States: #NEWLY ADDED","                  GeneratePresignedURL: #NEWLY ADDED","                    Type: Task #NEWLY ADDED","                    Resource: \"${GeneratePresignedURLArn}\"","                    End: true #NEWLY ADDED","            Next: TriggerSNS","          TriggerSNS:","            Type: Task","            Resource: arn:aws:states:::sns:publish","            Parameters:","              TopicArn: \"${SNSTopicArn}\"","              Message.$: \"$\"","            End: true","",""],"id":45},{"start":{"row":15,"column":0},"end":{"row":85,"column":0},"action":"insert","lines":["Resources:","  GeneratePresignedURLFunction:","    Type: AWS::Serverless::Function","    Properties:","      CodeUri: handlers/generate_presigned_url","      Handler: generate_presigned_url.lambda_handler","      Runtime: python3.10","      Architectures:","        - x86_64","      Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'","","  CreateReportFunction:","    Type: AWS::Serverless::Function","    Properties:","      CodeUri: handlers/create_report","      Handler: create_report.lambda_handler","      Runtime: python3.10","      Architectures:","        - x86_64","      Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'","      Events:","        CreateReport:","          Type: Api","          Properties:","            RestApiId: !Ref BikeAPI","            Path: /create-report","            Method: post","            Auth: #NEWLY ADDED","              Authorizer: CognitoAuthorizer #NEWLY ADDED","","  StateMachine:","    Type: AWS::Serverless::StateMachine","    Properties:","      Role: !Sub 'arn:aws:iam::${AWS::AccountId}:role/LambdaApplicationRoleSam'","      DefinitionSubstitutions:","        GenerateHTMLArn: !GetAtt GenerateHTMLFunction.Arn #NEWLY ADDED","        GeneratePresignedURLArn: !GetAtt GeneratePresignedURLFunction.Arn","        GenerateReportDataArn: !GetAtt GenerateReportDataFunction.Arn #NEWLY ADDED","        SNSTopicArn: !Ref SNSTopic","      Definition:","        Comment: Report Generation State Machine","        StartAt: GenerateReportData #NEWLY ADDED","        States:","          GenerateReportData: #NEWLY ADDED","            Type: Task #NEWLY ADDED","            Resource: \"${GenerateReportDataArn}\" #NEWLY ADDED","            Next: Parallel #NEWLY ADDED","          Parallel: #NEWLY ADDED","            Type: Parallel #NEWLY ADDED","            Branches: #NEWLY ADDED","              - StartAt: GenerateHTML #NEWLY ADDED","                States: #NEWLY ADDED","                  GenerateHTML: #NEWLY ADDED","                    Type: Task #NEWLY ADDED","                    Resource: \"${GenerateHTMLArn}\" #NEWLY ADDED","                    End: true #NEWLY ADDED","              - StartAt: GeneratePresignedURL #NEWLY ADDED","                States: #NEWLY ADDED","                  GeneratePresignedURL: #NEWLY ADDED","                    Type: Task #NEWLY ADDED","                    Resource: \"${GeneratePresignedURLArn}\"","                    End: true #NEWLY ADDED","            Next: TriggerSNS","          TriggerSNS:","            Type: Task","            Resource: arn:aws:states:::sns:publish","            Parameters:","              TopicArn: \"${SNSTopicArn}\"","              Message.$: \"$\"","            End: true",""]}]]},"ace":{"folds":[],"scrolltop":163.63636600084544,"scrollleft":0,"selection":{"start":{"row":85,"column":0},"end":{"row":85,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":true,"wrapToView":true},"firstLineState":{"row":9,"state":"start","mode":"ace/mode/yaml"}},"timestamp":1731017640637,"hash":"6e2b44a94339c9c77079403c192e790b8b581b90"}